//detail
$color1:#eb1151;
/* ============ detail-con1 ==================== */
#detail-con1{
    background:#f5f5f5;
    .w{
        .pos{
            height:50px;
            line-height:50px;
            p{
                float:left;
                color:#333;
                padding:0 10px;
                font-size:16px;
            }
            p:first-of-type{
                padding-left:5px;
            }
            p:last-of-type{
                color:$color1;
            }
        }
        .con{
            width:100%;
            border:1px solid #ccc;
            overflow:hidden;
            background:#fff;
            padding-bottom: 40px;
            .l{
                width:440px;
                margin-left: 20px;
                margin-top: 20px;
                p{
                    width:440px;
                    height:440px;
                    border:1px solid #ccc;
                    display:table-cell;
                    vertical-align: middle;
                    text-align: center;
                    img{
                        display: inline-block;
                    }
                }
                ul{
                    margin-top: 5px;
                    li{
                        float: left;
                        height: 31px;
                        line-height: 31px;
                        font-size:14px;
                        margin-right: 20px;
                        margin-top:20px;
                    }
                    li:nth-of-type(2){
                        width:31px;
                        height: 31px;
                        background: url(../images/social.png) -74px -88px no-repeat ;
                    }
                    li:nth-of-type(3){
                        width:31px;
                        height: 31px;
                        background: url(../images/social.png) -130px -88px no-repeat ;
                    }
                    li:nth-of-type(4){
                        width:31px;
                        height: 31px;
                        background: url(../images/social.png) -186px -88px no-repeat ;
                    }
                    li:nth-of-type(5){
                        width:31px;
                        height: 31px;
                        background: url(../images/social.png) -19px -88px no-repeat ;
                    }
                    li:nth-of-type(6){
                        img{
                            width:31px;
                        }
                        margin-left:75px;
                        margin-right:0px;
                    }
                    li:nth-of-type(7){
                        margin-left: 5px;
                    }
                }
            }
            .r{
                width:670px;
                overflow:hidden;
                margin-right:20px;
                ul:nth-of-type(1){
                    height:30px;
                    margin-top:20px;
                    font-size:14px;
                    li{
                        float:left;
                        height:30px;
                        line-height:30px;
                    }
                    li:nth-of-type(1){
                        background:url(../images/Korea.png) no-repeat;
                        padding-left:45px;
                    }
                    li:nth-of-type(2){
                        float:right;
                        font-size:12px;
                        margin-right:60px;
                    }
                }
                ul:nth-of-type(2){
                    margin-top:20px;
                    li:nth-of-type(1){
                        margin-right: 3px;
                        text-align: center;
                        color: #eb1151;
                        border: 1px solid #eb1151;
                        font-size: 12px;
                        font-family: "SimSun";
                        line-height: 22px;
                        height: 22px;
                        width: 40px;
                        float: left;
                        margin-top: 2px;
                    }
                    li:nth-of-type(2){
                        font-size:20px;
                    }
                }
                ul:nth-of-type(3){
                    background:#f6f6f6;
                    margin-top:10px;
                    li{
                        height:30px;
                        border-bottom:1px dashed #ccc;
                        font-size:14px;
                        line-height:30px;
                        margin:5px 0px;
                        text-indent:5px;
                        color:#7f7f7f;
                    }
                    li:nth-of-type(1){
                        span{
                            color:$color1;
                            font-weight: bold;
                        }
                    }
                    li:nth-of-type(2){
                        span{
                            text-decoration: line-through;
                        }
                    }
                }
                p:nth-of-type(1){
                    margin-top: 20px;
                    margin-bottom: 10px;
                    text-indent: 5px;
                }
                p:nth-of-type(2){
                    width: 530px;
                    background-color: #f8e6de;
                    margin: 5px 0;
                    padding: 0;
                    height: 30px;
                    line-height: 30px;
                    text-indent: 5px;
                }
                p:nth-of-type(3){
                    height: 30px;
                    line-height: 30px;
                    text-indent: 5px;
                    margin-top:10px;
                }
                p:nth-of-type(4){
                    height: 30px;
                    line-height: 30px;
                    text-indent: 5px;
                    margin-top:10px;
                }
                ul:nth-of-type(4){
                    overflow: hidden;
                    li{
                        float: left;
                        margin-top:20px;
                        height:28px;
                        line-height: 28px;
                    }
                    li:nth-of-type(1){
                        text-indent: 5px;
                        margin-right: 40px;
                    }
                    li:nth-of-type(2){
                        border:1px solid $color1;
                        height:28px;
                        line-height: 28px;
                        width:50px;
                        text-align: center;
                    }
                }
                ul:nth-of-type(5){
                    overflow: hidden;
                    li{
                        float: left;
                        margin-top:20px;
                        height:28px;
                        line-height: 28px;
                    }
                    li:nth-of-type(1){
                        text-indent: 5px;
                        margin-right: 40px;
                    }
                    li:nth-of-type(2){
                        border:1px solid #666;
                        height:28px;
                        line-height: 28px;
                        width:50px;
                        text-align: center;
                    }
                    li:nth-of-type(3){
                        float: right;
                        span{
                            display: inline-block;
                            height:27px;
                            line-height: 27px;
                            text-align: center;
                        }
                        span:nth-of-type(1){
                            width:20px;
                            border:1px solid #666;
                            margin-left: 1px;
                            border-right: 0;
                            cursor: pointer;
                        }
                        span:nth-of-type(2){
                            width:20px;
                            border:1px solid #666;
                            border-left: 0;
                            cursor: pointer;
                        }
                        input{
                            width:70px;
                            height:27px;
                            text-align: center;;
                            border:1px solid #666;
                        }
                    }
                }
                ul:nth-of-type(6){
                    overflow: hidden;
                    float: right;
                    border:1px solid #666;
                    height: 30px;
                    line-height: 30px;
                    width:600px;
                    margin-top:20px;
                    font-size:16px;
                    li{
                        float: left;

                    }
                    li:nth-of-type(1){
                        width:600px*0.3;
                        color:$color1;
                        text-indent: 5px;
                    }
                    li:nth-of-type(2){
                        width:600px*0.5-1;
                        border-right: 1px solid #666;
                    }
                    li:nth-of-type(3){
                        width:600px*0.2;
                        text-align: right;
                    }
                }
                div{
                    float: right;
                    margin-top: 30px;
                    button{
                        width:120px;
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        border:1px solid $color1;
                        outline: none;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                    button:nth-of-type(1){
                        background: #fff;
                        color:$color1;
                        margin-right: 20px;
                    }
                    button:nth-of-type(2){
                        background: $color1;
                        color:#fff;
                    }
                }
            }
        }
    }
}
/* ============ detail-con1 ==================== */
#detail-con2{
    background: #f5f5f5;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 20px;
    .w{
        overflow: hidden;
        .l{
            width:241px;
            background: #fff;
            h3{
                width:241px;
                height: 40px;
                line-height: 40px;
                background:$color1;
                color:#fff;
                text-align: center;
                font-size:18px;
                font-weight: normal;
            }
            ul{
                border:1px solid #ccc;
                li{
                    img{
                        width:100%;
                    }
                    p{
                        margin-bottom:10px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    p:nth-of-type(2){
                        font-size: 18px;
                        color:$color1;
                    }
                    p:nth-of-type(3){
                        border-bottom: 1px solid #ccc;
                        text-decoration: line-through;
                        padding-bottom: 10px;
                    }
                }
            }
        }
        .r{
            width:925px;
            .tit{
                background: #fff;
                border:1px solid #ccc;
                height:38px;
                position: relative;
                button{
                    height:37px;
                    width:128px;
                    border:0;
                    background: #fff;
                    outline: none;
                    cursor: pointer;
                    position: absolute;
                    z-index: 3;
                    box-sizing:content-box;
                }
                .btnstyle{
                    border-top: 2px solid #000;
                    color:$color1;
                    background: #f5f5f5;
                }
                button:nth-of-type(2){
                    left:128px;
                }
            }
            .con1{
                background: #fff;
                margin-top: 20px;
                overflow: hidden;
                text-align:center;
                ul{
                    margin-left:20px;
                    border-bottom: 1px dashed #f5f5f5;
                    margin-top: 10px;
                    li{
                        font-size:14px;
                        padding:10px 0;
                        text-align:left;
                    }
                    li:nth-of-type(1){
                        padding:0;
                        width: 105px;
                        height: 26px;
                        background-color: #ed145b;
                        color: #fff;
                        text-align: center;
                        line-height: 26px;
                        box-shadow: 3px 3px 1px #888;
                        font-size: 14px;
                    }
                }
                img{
                    display: inline-block;
                }
            }
            .con2{
                width:100%;
                margin-top: 20px;
                display: none;
                img{
                    width:100%;
                }
            }
        }
    }
}